$white : #fff;
$hover : #9bf1ff;
$main  : #242943;
$secondary : #2a2f4a;
$navBk :  rgba(36, 41, 67, 0.9);
$navLine : rgba(212, 212, 255, 0.1);

$footerCnt : rgba(244, 244, 255, 0.2);

$space: 10px;

$color1 : #6fc3df;
$color2 : #8d82c4;
$color3 : #ec8d81;
$color4 : #e7b788;
$color5 : #8ea9e8;
$color6 : #87c5a4;

$colors: $color1, $color2, $color3, $color4, $color5, $color6;
